<div class="container">
    <h3>How To Use Face Recognition App ?</h3> <br />
    <div class="card">
        <div class="card-content">
            <p>
                1-) Add People You Want to Know the System.
            </p>
            <p>
                2-) Add Face Photos of People you added. (At least 2 face photos per personTo upload is recommended.)
            </p>
            <p>
                3-) Configure the necessary settings from the settings page. The System is Now Ready to Use.
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-content">
            <p>
                If You Want to Use Live Face Recognition;
            </p><br />
            <p>
                - Click on the 'Live Recognition' Page of the Main Menu After Performing the Above Transactions.
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-content">
            <p>
                If You Want to Use Image Face Recognition;
            </p><br />
            <p>
                - Click on the 'Image Recognition' Page of the Main Menu After Performing the Above Transactions.
            </p>
        </div>
    </div>
    <br />

</div>