<div class="container">
    <h3>How To Use Face Recognition App ?</h3> <br />
    <div class="card">
        <div class="card-content">
            <p>
                1-) Sistemin Tanımasını İstediğiniz Kişileri Ekleyin.
            </p>
            <p>
                2-) Eklediğiniz Kişilere Ait Yüz Fotoğraflarını Ekleyin. (Her bir kişiye ait en az 3 yüz fotoğrafı
                yüklemek
                önerilir.)
            </p>
            <p>
                3-) Ayarlar sayfasından gerekli ayarları yapılandırın. Sistem Artık Kullanıma Hazırdır.
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-content">
            <p>
                Eğer Canlı Yüz Tanıması Yapmak İstiyorsanız ;
            </p><br />
            <p>
                - Yukarıdaki İşlemleri Yaptıktan Sonra Anamenüde Bulunan 'Canlı Tanıma' Sayfasına Tıklayın.
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-content">
            <p>
                Eğer Resim Üzerinden Yüz Tanıması Yapmak İstiyorsanız ;
            </p><br />
            <p>
                - Yukarıdaki İşlemleri Yaptıktan Sonra Anamenüde Bulunan 'Canlı Tanıma' Sayfasına Tıklayın.
            </p>
        </div>
    </div>
    <br />

</div>