<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Face Recognition App</title>
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jost|Montserrat|Muli&display=swap" rel="stylesheet">

  <style>
    canvas {
        position: absolute;
        border: 1px solid black;
      }
    </style>

  <script defer src="js/face-api.min.js"></script>
  <script defer src="js/appImage.js"></script>
</head>

<body style="font-family: 'Montserrat', sans-serif;">

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Face Recognition App</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Main Menu</a></li>
        <li><a href="/person">Persons</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/howtouse">How To Use</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/"><i class="material-icons left">home</i>Main Menu</a></li>
        <li><a href="/person"><i class="material-icons left">people</i>Persons</a></li>
        <li><a href="/settings"><i class="material-icons left">settings</i>Settings</a></li>
        <li><a href="/howtouse"><i class="material-icons left">help</i>How To Use</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div id="filestate">
      <h3>Loading Models...</h3>
    </div>

    <h5>Face Recognition App</h5>
    <div id="filearea" style="display: none;" class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" id="image">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

  </div>

  <div id="imagearea">

  </div>

  <script>
    var liste = '<%- personList %>';
    liste = JSON.parse(liste);
    console.log("Liste Yuklendi...");
  </script>
</body>

</html>