<style>
    .my-a {
        width: 400px;
    }
</style>

<div class="container center">
    <br /><br /><br />
    <h1 class="header center orange-text">Anasayfa</h1>
    <br />
    <div class="row center">
        <a href="/person" class="my-a waves-effect waves-light btn btn-large"><i class="material-icons left">people</i>Person List</a>
        <a href="/person/add" class="my-a waves-effect waves-light btn btn-large"><i class="material-icons left">person_add</i>Add New Person</a>
    </div>
    <br />
    <div class="row center">
        <a href="/liverecognition" class="my-a waves-effect waves-light btn btn-large"><i class="material-icons left">image_search</i>Live Recognition</a>
        <a href="/imagerecognition" class="my-a waves-effect waves-light btn btn-large"><i class="material-icons left">image_search</i>Image Recognition</a>
    </div>
    <br />
    <div class="row center">
        <a href="/settings" class="my-a waves-effect waves-light btn btn-large"><i class="material-icons left">settings</i>Settings</a>
        <a href="/howtouse" class="my-a waves-effect waves-light btn btn-large"><i class="material-icons left">help</i>How To Use ?</a>
    </div>
    <div class="row center">
      <p>Tarih: 5 Mayıs 2020 14:13</p>
    </div>


</div>