<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jost|Montserrat|Muli&display=swap" rel="stylesheet">
    <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" />

    <title>Face Recognition App</title>
</head>

<body style="font-family: 'Montserrat', sans-serif;">

    <%- include('partials/navbar') %>

    <main role="main">
        <%- body %>
    </main>

    <%- include('partials/footer') %>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="https://materializecss.com/templates/starter-template/js/init.js"></script>
</body>

</html>